<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3 mt-3 mb-3">
        <h1>Login for WanderLust</h1>
        <form action="/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label"></label>
                <input name="username"  class="form-control" placeholder="username" id="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label"></label>
                <input name="password" type="password" class="form-control" placeholder="password" id="password" required>
            </div>

            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>
